<template>
  <div class="home">
    <FeedbackForm msg="Feedback Form"/>
  </div>
</template>

<script>
// @ is an alias to /src
import FeedbackForm from '@/components/FeedbackForm.vue'

export default {
  name: 'Home',
  components: {
    FeedbackForm
  }
}
</script>
