<template>
  <div class="container">
    <div v-if="email_sent_status" class="border text-center">
      <h1>Thank you for Feedback</h1>
      <div>Feedback sent .......</div> 
    </div>
        <form v-if="!email_sent_status" @submit.prevent="sendEmail">
          <h1 class="contact-form_title">Feedback Form</h1>
          <label >Name</label>
          <input 
            type="text" 
            v-model="name"
            name="from_name"
            id="from_name"
            placeholder="Your Name" required
          >
          <label >Email</label>
          <input 
            type="email" 
            v-model="email"
            name="user_email"
            id="user_email"
            placeholder="Your Email" required
            >
          <label >Message</label>
          <textarea 
            name="message"
            v-model="message"
            cols="30" rows="5"
            placeholder="Message">
          </textarea>
          <vue-recaptcha ref="recaptcha"  sitekey="6LcMpiEaAAAAAGFHlVcBIR7y-xabW50HxSdK08Af" :loadRecaptchaScript="true"></vue-recaptcha>
          <div  style="color: red; text-align: left;" id="recaptcha_error"></div>
          <input id="submit" type="submit" value="Send" >
        </form>
    </div>
</template>
<script type="application/javascript" defer src="https://smtpjs.com/v3/smtp.js"></script>
<script>
import emailjs from 'emailjs-com';
 import VueRecaptcha from 'vue-recaptcha';
export default {
  name: 'HelloWorld',
  components: { VueRecaptcha },
  data() {
    return {
      name: '',
      email: '',
      message: '',
      recaptcha_response: '',
      email_sent_status: false
    }
  },
  methods: {
    sendEmail(e)  {
      this.recaptcha_response = grecaptcha.getResponse()
      // console.log(response)
      // console.log(e.target.user_email.value)
     if(this.recaptcha_response.length != 0) {
       document.getElementById('submit').value = "Sending..."
       emailjs.sendForm('service_lgmwipw', 'template_gzg6muc', e.target,  'user_Br7EJ1OYKmCWTdtNpgbJC')
        .then((result) => {
          this.email_sent_status = true
            console.log('SUCCESS!', result.status, result.text);
        }, (error) => {
            console.log('FAILED...', error);
        })
        
     }
     else {
       document.getElementById('recaptcha_error').innerHTML = "please verify recaptcha"
     }
      

      //3501a42a-2d59-447b-9c21-f06ba4654516
      //D02D8AA729F75AA4832B92FCFC8DFEFCB44B5EC39C586C370F55BDB91096E44DCAE43A2342B4F0089CBA8C6F61E477BD
//       Email.send({
//     SecureToken : "3501a42a-2d59-447b-9c21-f06ba4654516",
//     To : 'shridhargk98@gmail.com',
//     From : this.email,
//     Subject : "Got Feedback",
//     Body : this.message
// }).then((result) => {
//             console.log('SUCCESS!', result);
//         }, (error) => {
//             console.log('FAILED...', error);
//         });
        
    }
    
  }
  // created() {
  //   var scripts = [
  //    "https://smtpjs.com/v3/smtp.js"
  //   ];
  //   scripts.forEach(script => {
  //     let tag = document.createElement("script");
  //     tag.setAttribute("src", script);
  //     document.head.appendChild(tag);
  //   });
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {box-sizing: border-box;}

.contact-form_title {
	color: #333;
	text-align: left;
	font-size: 28px;
  border-bottom: 1px solid;
}

.container {
  display: block;
  margin:auto;
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

label {
  float: left;
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>
